[submodule "frontend"]
	path = frontend
	url = https://github.com/social-network-ya-practicum/frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/social-network-ya-practicum/backend.git